* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #f3f3fd;
  font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;;
  color: #0A0727;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}