* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #fff;
  font-family: Lato;
  color: #34293d;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}